<h1>{{branch.firm.name}}</h1>
<h3>{{branch.address}}</h3>

<a href="#sucursales/{{branch.id}}/productos">Ver todos los Productos de esta Sucursal</a>
{{#if products}}
<h3>Carrito</h3>
<table class="table">
    <thead>
    <tr>
        <th>Descripción</th>
        <th>$</th>
    </tr>
    </thead>
    <tbody>
        {{#each products}}    
            <td><a href="{{#if price}}#sucursales/{{../branch.id}}/productos/{{id}}{{else}}#productos/{{id}}{{/if}}">{{description}}</a></td>
            <td>{{#if price}}{{price}}{{else}}No tiene{{/if}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
Su carrito esta vacío
{{/if}}