<h1>{{branch.firm.name}}</h1>
<h3>{{branch.address}}</h3>

<a href="#sucursales/{{branch.id}}/productos">Ver todos los Productos de esta Sucursal</a>
{{#if products}}
<table class="table">
    <thead>
    <tr>
        <th>Descripción</th>
        <th>$</th>
    </tr>
    </thead>
    <tbody>
        {{#each products}}    
        <tr>
            <td><a href="#producto/{{id}}">{{description}}</a></td>
            <td>{{price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
Su carrito esta vacío
{{/if}}