<h1>Carrito</h1>
{{#if products}}
<a href="#vaciar-carrito">Vaciar Carrito</a>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td><a href="#productos/{{id}}">{{description}}</a></td>
            <td><span class="glyphicon glyphicon-remove" aria-hidden="true"  onclick="$service.cart.remove(this);" data-id={{id}}></span></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
Tu carrito esta vacío
{{/if}}