<div class="panel panel-default">
    <div class="panel-heading">Compañia</div>
    <div class="panel-body">
        <form role="form" onsubmit="$service.stopSubmit(event)">
        
            {{#if company.id}}
            <div class="form-group">
                <label for="company-id">Id:</label>
                <input type="number" class="form-control" id="company-id" name="id" value={{company.id}} disabled="disabled">
            </div>
            {{/if}}
        
            <div class="form-group">
                <label for="company-cuit">CUIT:</label>
                <input type="text" class="form-control" id="company-cuit" name="cuit" value="{{company.cuit}}">
            </div>
        
            <div class="form-group">
                <label for="company-name">Nombre:</label>
                <input type="text" class="form-control" id="company-name" name="name" value="{{company.name}}">
            </div>

            <a class="btn btn-default" href="#companies">Cancelar</a>
        
            {{#if company.id}}
            <button type="button" class="btn btn-default" onclick="$service.company.update(this.form)">Actualizar</button>
            <button type="button" class="btn btn-default" onclick="$service.company.remove(this.form)">Eliminar</button>
            {{else}}
            <button type="button" class="btn btn-default" onclick="$service.company.persist(this.form)">Guardar</button>
            {{/if}}
        </form>
    </div>
</div>
