<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Entidades</div>
  <div class="panel-body">
    <p>Ver, crear, modificar y eliminar entidades</p>
  </div>

  <!-- Entities -->
  <ul class="list-group">
    <li class="list-group-item"><a href="#categories">Categorías</a></li>
    <li class="list-group-item"><a href="#units">Unidades</a></li>
    <li class="list-group-item"><a href="#provinces">Provincias</a></li>
    <li class="list-group-item"><a href="#products">Productos</a></li>
    <li class="list-group-item"><a href="#localities">Localidades</a></li>
    <li class="list-group-item"><a href="#departments">Departamentos</a></li>
    <li class="list-group-item"><a href="#companies">Compañias</a></li>
    <li class="list-group-item"><a href="#branches">Sucursales</a></li>
    <li class="list-group-item"><a href="#firms">Banderas</a></li>
  </ul>
</div>